* {
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A", Poppins;
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-color: #121212; /* Fondo negro oscuro */
  color: #fff; /* Color de texto blanco */
}

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 150px;
  height: 100%;
  background: #07030a;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

body.open .menu {
  transform: translateX(0);
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente las opciones */
  align-items: center;
  height: 100%;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 20px;
  font-family: "Euclid Circular A";
  padding: 20px 10px;
  width: 100px;
  text-decoration: none;
  transition: 0.4s;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.4s;
}

.menu a::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: left center;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

body.open .menu a {
  animation: appear 0.25s backwards;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background: transparent;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease-in-out;
}

.burger::before {
  transform: translateY(-1px);
}

.burger::after {
  transform: translateY(8px);
}

body.open .burger::before {
  transform: rotate(45deg) translateY(0);
}

body.open .burger::after {
  transform: rotate(-45deg) translateY(0);
}

/*--------------------------------------*/
/* Estilos para el switch */
.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 7rem;
  padding: 0 1rem;
  font-family: verdana;
  border: 2px solid white;
}

.switch:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2rem;
  background: #000;
  border-radius: 30px;
}

.switch__label {
  display: flex; /* Cambia el display a flex */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center; /* Centra el texto horizontalmente */
  cursor: pointer;
  transition: color 200ms ease-out;
  margin-right: 0.5rem;
  font-size: 10px; /* Cambia el tamaño de la fuente */
  color: #fff; /* Cambia el color de las letras */
}

.switch__label:hover {
  color: #ff0000; /* Cambia el color al hacer hover */
}

.switch__indicator {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(100% + 5px);
  transform: translateY(-10%);
  left: 0.5rem;
  background: green;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 600ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  border: 2px solid white;
}

input#right:checked ~ .switch__indicator {
  transform: translate3d(0rem, 0, 0);
}

input#left:checked ~ .switch__indicator {
  transform: translate3d(4rem, 0, 0);
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  display: none;
}

/*-----logo----*/

.logo {
  width: 50px;
  height: auto;
  margin-bottom: -90px;
  margin-top: -100px;
}

/*-----cards----*/

.card {
background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semi-transparente */
padding: 20px;
margin: 20px;
border-radius: 10px;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 20px;
}

button {
color: #000; /* Texto del botón en color negro */
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

/*-----camara-----*/

body {
  display: flex;
  justify-content: center;
}

.web-camera-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
}

.web-camera-container .camera-button {
  margin-bottom: 2rem;
}

.web-camera-container .camera-box .camera-shutter {
  opacity: 0;
  width: 450px;
  height: 337.5px;
  background-color: #fff;
  position: absolute;
}

.web-camera-container .camera-box .camera-shutter.flash {
  opacity: 1;
}

.web-camera-container .camera-shoot {
  margin: 1rem 0;
}

.web-camera-container .camera-shoot button {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.web-camera-container .camera-shoot button img {
  height: 35px;
  object-fit: cover;
}

.web-camera-container .camera-loading {
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  min-height: 150px;
  margin: 3rem 0 0 -1.2rem;
}

.web-camera-container .camera-loading ul {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
  margin: 0;
}

.web-camera-container .camera-loading .loader-circle {
  display: block;
  height: 14px;
  margin: 0 auto;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  padding: 0;
}

.web-camera-container .camera-loading .loader-circle li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  line-height: 10px;
  padding: 0;
  position: relative;
  margin: 0 0 0 4px;
  background: #999;
  animation: preload 1s infinite;
  top: -50%;
  border-radius: 100%;
}

.web-camera-container .camera-loading .loader-circle li:nth-child(2) {
  animation-delay: .2s;
}

.web-camera-container .camera-loading .loader-circle li:nth-child(3) {
  animation-delay: .4s;
}

@keyframes preload {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
