.carousel__item {
  animation: carousel-animate-vertical 6s linear paused;
}
.carousel__item-head {
  @apply
  flex
  relative
  drop-shadow-[2px_2px_10px_rgba(0,0,0,0.8)]
  rounded-[50%] bg-white w-[90px] h-[90px] p-[14px] mr-[-45px] flex-shrink-0
  items-center
  justify-center
  text-[50px]
  text-black

}

.carousel__item-body {
  @apply
  w-[100%]
  bg-white
  rounded-[8px]
  pt-[16px]
  pr-[20px]
  pb-[16px]
  pl-[20px]
}

.letter_image {
  @apply
  w-[100%]
  ml-auto
  mr-auto
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  4%, 20% {
    transform: translateY(100%) scale(0.7);
    opacity: 0;
    visibility: visible;
  }
  26%, 52% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  56%, 82% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0;
    visibility: visible;
  }
  86% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

