:root {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.glosariLetters {
  font-size: 7rem;
}

.card {
  width: 8rem;
  height: 8rem;
}

.card:hover {
  color: rgb(39 39 42);
  background-color: #0cffc269;
  transition: 0.6s;
}

.card-body {
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
}